test
main
launchergo
*.so
retroarch-core-options.cfg
*.lpl
*.swp
.bsv
*.pyc
sysgo/.powerlevel
sysgo/.buttonslayout
sysgo/.lang
*.cfg
**/Jobs/*
!**/Jobs/.gitkeep
!**/Jobs/00_lowpower.sh
!**/Jobs/00_lowpower.alias
.done
bios
bios/*
screenshots
screenshots/*
.pcsx
.pcsx/*
*.log

